<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<ref bean="studentConversionService" />
			</set>
		</property>
	</bean>

	<bean id="studentConversionService" class="org.springframework.tests.sample.beans.test.StudentConversionService" />

	<bean id="student" class="org.springframework.tests.sample.beans.test.Student">
		<property name="studentService" value="16#chenssy" />
	</bean>
</beans>